<html>
	<head>
	</head>
	<body>
		<div class="box">
			<h1>SAN FRANSOYKO</h1>
			<p>
				<i>Where dreams are made of tech and salt water:)</i>
			</p>
			<p>
				Welcome to San Fransoyko! Also know as the <i>Database by the Bay</i>, we are a community focused on bettering the world through advanced technology! Everyone that lives in this city currently either works in tech or is studying to work in the future. Any and all are welcome to move here and join us in our everlasting, life mission. The only thing we ask is for you to be as committed to research as we are!  
			</p>
			<br />
			<br />
			<br />
			<br />
			<br />
			<p>
				<i>NO MAD SCIENTISTS ALLOWED. YOU HAVE BEEN WARNED</i>
			</p>
		</div>
	</body>
</html>